body {
    background-color: #f0f3f4;
}

.header {
    color: #074548;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.first {
    display: flex;
    flex-direction: column;
}